.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}

.top {
  margin-top: 90px;
}

a {
outline:none !important;
}

.navbar-default {
  background-color: #F9F9F9;
  border-color: #F9F9F9;
  height: 76px;
  width: 1200px;
  margin: 0 auto;
}

.navbar-default .navbar-brand {
  color: #333333;
  padding-top: 38px;
  font-size: 24px;
  padding-left: 30px;
}

.navbar-default .navbar-brand:visited {
  color: #333333;
}

.navbar-default .navbar-brand:hover {
  color: #333333;
}

.navbar-right {
  margin-right: 0px; 
}

.navbar-default .navbar-brand:active {
  color: #333333;
}

.navbar-default .navbar-nav>li>a {
  color: black;
  padding-top: 38px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 0px;
  padding-left: 0px;
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 3px;
}
.navbar-default .navbar-nav>li>a:link {
  background: none;
  color: black;
}
.navbar-default .navbar-nav>li>a:visited {
  background: none;
  color: black;
}

.navbar-default .navbar-nav>li>a:hover {
  background: none;
  color: black;
}

.navbar-default .navbar-nav>li>a:active {
  background: none;
  color: black;
}

.container-fluid {
  width: 1200px;
}

.container {
  width: 700px !important;
}

.container .btn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

.container hr {
  margin-top: 50px;
  size: 10px;
}

.carousel-control.right {
  background-image: none;
  top: 50%;
  right: 9%;
  width: 20px;
  height: 20px;
}

.carousel-control.left {
  background-image: none;
  top: 50%;
  left: 7%;
  width: 20px;
  height: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 95%;
  margin: auto;
}

h2 {
  font-size: 36px;
}

.carousel-inner .h3,
h3 {
  font-size: 45px;
}

.carousel-inner p {
  font-weight: bold;
  font-size: 22px;
}

.carousel-caption {
  right: 20%;
  left: 20%;
  padding-bottom: 30px;
}

.carousel-caption a {
  color: white;
}

.background {
  width: 100%;
  padding: 20px 0px;
  background: #F9F9F9;
}

.btn-group-justified {
  display: table;
  width: 47% !important;
  margin-left: -27px !important;
  table-layout: fixed;
  border-collapse: separate;
}

.darkButton {
  background: #8F867C !important;
}

.textVerticalAlign {
  display: inline-block;
  margin-top: 8px;
}

.changebtn {
  margin-top: 0 !important;
}

.rightbtn {
  margin-top: 0 !important;
  margin-right: 20px;
}

.myRecipies h2 {
  font-size: 24px;
}

.myRecipies p {
  font-size: 14px;
}

.ideasRecipesItem hr {
  margin: 20px 0;
}

.myRecipesItem hr {
  margin: 20px 0;
}

.myRecipesItem img,.ideasRecipesItem img {
  width:940px;
}

.addbutton {
  margin-top: -10px !important;
  margin-bottom: 10px !important;
}

.submit {
  margin-top: 10px !important;
}

.lists h1 {
  font-size: 30px;
}

.lists hr {
  margin-top: 20px;
}

.lists h2 {
  font-size: 30px;
}

.lists p {
  font-size: 14px;
}

.remark {
  display: inline-block;
  margin-left: 36%;
}
.activeItemForNav{
border-bottom:3px solid maroon;
}

.container .cancel {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.delete{
	margin-top:0px !important;
	margin-right:5px;
}



.delbtn{
	margin-left:5px;
}


.del {
	display: table;
	width: 32% !important;
	margin-left: -10px !important;
	table-layout: fixed;
	border-collapse: separate;
}
.buttons{
	margin-bottom: 20px
}
.btn-delete{
	background-color:#A37D7D;
	color:white;
}

.navbar-default .navbar-nav>li>a:link {
  background: none;
  color: black;
}
.navbar-default .navbar-nav>li>a:visited {
  background: none;
  color: black;
}
.btn-change {
  background-color: rgba(197, 181, 147, 0.85);
 color:white;
}
.btn-change:hover {
  background-color: rgb(185, 170, 141);
 color:white;
}

.btn-delete:hover {
  background-color: #876767;
color: white;
}

.big{
	
	padding:8px 14px;
}


.navbar-default .navbar-nav>li>a:active {
  background: none;
  color: black;
}

.container {
  padding-top: 10px;
}
#popUpDialog-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
#popUpDialog {
  position: fixed;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  margin-top: 20%;
  padding: 15px;
  border-radius: 5px;
  background: white;
}
#popUpDialog .content {
  font-size:16px;
  font-weight:bold;
  margin-bottom: 5px;
  text-align: center;
}
#popUpDialog .buttons-container {
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-device-width: 1450px), screen and (max-width: 1450px){
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 57%;
    margin: auto;
  }
  .carousel-caption {
    right: 34%;
    left: 34%;
    padding-bottom: 30px;
  }
  .carousel-inner .h3, h3 {
    font-size: 30px;
  }
  .carousel-inner p {
    font-weight: bold;
    font-size: 14px;
  }
  .carousel-control.left {
    background-image: none;
    top: 50%;
    left: 24%;
    width: 20px;
    height: 20px;
  }
  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control.right {
    background-image: none;
    top: 50%;
    right: 24%;
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-device-width: 1100px), screen and (max-width: 1100px){
  
}
@media screen and (max-device-width: 800px), screen and (max-width: 800px){
  
}
